<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="IPConnectionDBEntities" connectionString="metadata=res://*/IPConnections.csdl|res://*/IPConnections.ssdl|res://*/IPConnections.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OPTIMUS-89\SQLEXPRESS;initial catalog=IPConnectionDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>